.to-top-btn{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  @include social-icon;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 1rem 3rem rgba(35,38,45,.3);
  z-index: 100;
  text-decoration: none;
  color: var(--heading-color);
  transition: .3s ease-in-out;
}
.to-top-btn--hidden{
  display: none;
}

.about{
  padding: 2rem 0;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.gallery__item{
  padding: 2rem;
}
.gallery__img{
  display: block;
  width: 100%;
  border-radius: .5rem;
  box-shadow: var(--shadow-level-2);
  transition: .3s  ease-in-out;
  &:hover{
    transform: translateY(-2px);
    box-shadow: var(--shadow-level-3);
  }
}
