.map{
  width: 100%;
  height: 400px;
}
.ymaps-2-1-79-searchbox-button {
  background: var(--main-color)!important;
  color: #fff !important
}

.ymaps-2-1-79-_focused {
  box-shadow: inset 0 0 0 2px var(--main-color)!important;
}

.ymaps-2-1-79-search__suggest-catalog-item.ymaps-2-1-79-search__suggest-item_selected_yes:after,
.ymaps-2-1-79-search__suggest-catalog-item:hover:after{
  background: var(--main-color)!important;
}
